<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= params["title"] %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="main">
    <div id="header">
      <h1><%= params["title"] %> Add</h1>
    </div>
    <div id="content">
      <form method="post" action="/cms/add">
        <dl>
          <dt>TITLE</dt>
          <dd>
            <% if(typeof errors !== 'undefined') { %>
              <input type="text" name="title" id="title" value="<%= title %>">
            <% } else { %>
              <input type="text" name="title" id="title">
            <% } %>
          </dd>
          <div class="error-box">
            <% if(typeof errors !== 'undefined') { %>
              <% for(let error of errors){ %>
                <% if(error.path == "title"){ %>
                  <p><%= error.msg %></p>
                <% } %>
              <% } %>
            <% } %>
          </div>
        </dl>
        <dl>
          <dt>CONTENT</dt>
          <dd>
            <% if(typeof errors !== 'undefined') { %>
              <textarea name="content" id="content" rows="30" cols="80"><%= content %></textarea>
            <% } else { %>
              <textarea name="content" id="content" rows="30" cols="80"></textarea>
            <% } %>
          </dd>
          <div class="error-box">
            <% if(typeof errors !== 'undefined') { %>
              <% for(let error of errors){ %>
                <% if(error.path == "content"){ %>
                  <p><%= error.msg %></p>
                <% } %>
              <% } %>
            <% } %>
          </div>
        </dl>
        <p><input type="submit" value="作成"></p>
      </form>
    </div><!-- /div#content -->
  </div><!-- /div#main -->
</body>
</html>